<div layout="vertical" layout-align="center" layout-fill ng-controller="MainController">

  <md-content flex>
    <header>
      <acme-navbar></acme-navbar>
    </header>



    <button class="md-icon-button md-button md-ink-ripple hide-gt-sm" type="button" ng-click="main.toggleLeft()"
            hide-gt-md aria-label="Toggle Menu">
      <i class="material-icons md-48">view_headline</i>
    </button>

    <div class="techs" layout="row">
      <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-21dp" md-is-locked-open="$mdMedia('gt-sm')" flex>
        <md-list>
          <md-list-item ng-repeat="team in main.teams | orderBy:'title'">
            <md-button class="md-raised" flex ng-click="main.selectTeam(team)">
             {{ team.title }}
              ({{ team.description }})
            </md-button>
          </md-list-item>
        </md-list>
      </md-sidenav>
      <md-content flex>
        <div layout="column" layout-align="center" layout-fill>
          <section class="jumbotron" flex>
            <h1>{{main.selectedTeam.title}}</h1>
          </section>
          <md-list>
            <md-list-item class="md-3-line" ng-repeat="player in main.selectedTeam.players">
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">{{player.name}}</span>
                    <span class="md-subhead">{{ player.team }}</span>
                  </md-card-title-text>
                  <md-card-title-media>
                    <span class="position">{{ player.position }}</span>
                  </md-card-title-media>
                </md-card-title>
              </md-card>
            </md-list-item>
          </md-list>
        </div>
      </md-content>
    </div>
  </md-content>

</div>
